@import "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.footer-theme {
  /* width: 100%; */
  background-color: red;
  color: white;
  text-align: center;
}